<div class="ui pointing menu">
    <a class="item" href="/">
        Úvod
    </a>
    <a class="item" href="/contact">
        Kontakty
    </a>
    <a class="item" href="/meeting">
        Schůzky
    </a>
    <a class="item" href="/logout">
        Logout
    </a>
    <div class="right menu">
        <div class="item">
            <a href="{{add_url}}/add_{{add_url}}"> <i class="plus icon"></i>  {{add}}</a>
        </div>
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="{{search}}">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>


