{{>header}}
{{!-- depending on the value of the listExists variable --}}
{{!-- if it’s true then the list will be rendered --}}
{{!-- if the value is equal to false the list will not be rendered --}}
<div class="ui raised segment">
    <p>Julie Pražáková</p><br>
    <p>LS 2020/2021</p>
</div>
