<div class="ui raised segment">
    <div class="ui form">
        <h1>APV projekt</h1><br>
        <form method="POST">
            <div class="two fields">
            <div class="required field">
            <label>Login</label>
            <input type="text" name="username" id="username" placeholder="Login" required>
            </div>
            <div class="required field">
            <label>Heslo</label>
            <input type="password" name="password" id="password" placeholder="Heslo">
            </div>
            </div>
            <input type="submit" class="ui button" value="Přihlásit se"></br>

            <div class="ui segment">
                <a href="lostpassword">Zapomněli jste heslo?</a></br></div>
                <div class="ui segment">
            <a href="register">Registrujte se</a>
            </div>
        </form>
    </div>
</div>